/* 폰트컬러나 폰트크기, 행간, 공통적 특성 같은 거는 body에 넣어주기   */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'GmarketSansMedium';
}

img {
    display: block;
}

a {
    text-decoration: none;
}


/* 버튼 css 시작 */
.btn {
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.btn.btn-reverse {
    color: #fff;
    background-color: #333;
}

.btn.btn-reverse:hover{
    background-color: transparent;
    color: #333;
}

.btn.btn--brown{
    color:#592B18;
    border-color: #592B18;
  }
  .btn.btn--brown:hover{
    background-color: #592B18;
    color:#fff;
  }
  .btn.btn--gold{
    color:#D9AA8A;
    border-color: #D9AA8A;
  }
  .btn.btn--gold:hover{
    background-color:#D9AA8A;
    color: #fff;
  }
  .btn.btn--white{
    color:#fff;
    border-color: #fff;
  }
  .btn.btn--white:hover{
    background-color:#fff;
    color: #333;
  }
  .btn.btn--pink{
    color:#e54360;
    border-color: #e54360;
  }
  .btn.btn--pink:hover{
    background-color:#e54360;
    color: #fff;
  }



/* 버튼 css 끝 */

.inner {
    /* background-color: seagreen; */
    width: 1100px;
    /* block 요소 가운데 정렬 margin: 0 auto */
    margin: 0 auto;
    position: relative;

}

#head_layout {
    background-color: #f6f5f0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

#head_layout > .inner {
    /* 바로 밑에 자식만 선택 > */
    height: 120px;
}

#head_layout .logo {
    position: absolute;
    /* top, bottom으로 부모 크기 나타내주는 너낌.... */
    top: 0;
    bottom: 0;
    left: 0;
    /* 부모 크기가 정해졌으니까, 자신의 크기를 명시?하는 느낌 */
    height: 75px;
    /* 그 상태에서 마진을 줘서 가운데에 위치하도록 할 수 있다.  */
    margin: auto;
    /* display: none; */
}

#head_layout .inner .util_menu {
    display: flex;
    justify-content: right;
    /* inner 안에서 움직이니까, padding 대신 position을 주는듯 */
    position: absolute;
    top: 10px;
    right: 0;
}

#head_layout .inner .util_menu .menu {
    display: flex;
    justify-content: right;
}

#head_layout .inner .util_menu .menu li {
    position: relative;
}

#head_layout .inner .util_menu .menu li:first-child::before {
    /* ::before는 div 태그가 하나 생겼다고 생각하면 된대, 그래서 ::before 로 선택해줘야 함  */
    display: none;
}

#head_layout .inner .util_menu .menu li::before {
    /* before 선택자 안에서는, 실제 요소의 block 과는 다름 ! */
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}


#head_layout .inner .util_menu .menu li a {
    /* a 태그는 폰트 속성이 쎄기 때문에, 폰트 변형을 하려면, a 태그에 직접 주는 게 좋다! */
    /* background-color: lightpink; */
    font-size: 12px;
    padding: 11px 16px;
    color: #656565;
    display: block;
    line-height: 1em;
}

#head_layout .inner .util_menu .menu li a:hover {
    color: #333;
}

#head_layout .inner .search {
    /* background-color: tomato; */
    height: 34px;
    position: relative;
    
}

#head_layout .inner .search input {
    width: 34px;
    height: 34px;
    padding: 4px 10px;
    border-radius: 5px;
    /* 브라우저마다 속성이 다르니까, 지정색을 줘서 어디서나 같도록 통일성을 만들어주기.  */
    border: 1px solid #ccc;
    box-sizing: border-box;    
    /* inputbox에만 해당되는 속성: 클릭했을때 하이라이트(?) 안됨 */
    outline: 0;
    color: #656565;
    background-color: #fff;
    transition: width .7s;

}

#head_layout .inner .search input:focus {
    width: 190px;
    border-color: #007042;
}


#head_layout .inner .search span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    height: 24px;
    transition: opacity 0.4s;
}

/* 띄어쓰기를 하면, 내 자손들을 찾는거고. 붙여쓰면 내 태그안에서 찾는거래 */
#head_layout .inner .search.focused span {
    opacity: 0;
    /* 
        display :none 으로 해서 없애려고 하면, 
        transition 효과가 부드럽게 들어가지 않는다. 
        부드럽게 사라지게 하고 싶은 경우에는 opacity 를 이용하도록 하자. 
    */
}

#head_layout .inner .main_menu {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

#head_layout .inner .main_menu .item { 

}

#head_layout .inner .main_menu .item:hover .item_contents { 
    display: block;
}

#head_layout .inner .main_menu .item .item_name { 
    padding: 20px;
    font-size: 14px;

}

#head_layout .inner .main_menu .item:hover .item_name { 
    background-color: #2c2a29;
    color: #fff;
}

#head_layout .inner .main_menu .item .item_contents { 
    position: fixed;
    /* top bottom 따로 안주면 요소가 시작하는 부분부터 영역을 잡는다. */
    left: 0;
    right: 0;
    display: none;
}

#head_layout .inner .main_menu .item .item_contents .contents_menu { 
    background-color: #2c2a29;
    height: auto;
}

#head_layout .inner .main_menu .item .item_contents .contents_menu > ul {
    display: flex;
    padding: 20px 0;
}

#head_layout .inner .main_menu .item .item_contents .contents_menu > ul > li {
    width: 220px;
}

#head_layout .inner .main_menu .item .item_contents .contents_menu > ul > li h3 {
    font-weight: 600;
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

#head_layout .inner .main_menu .item .item_contents .contents_menu > ul > li ul {

}

#head_layout .inner .main_menu .item .item_contents .contents_menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    /* 손가락 모양으로 커서 바꾸깅 ~! */
    cursor: pointer; 

}

#head_layout .inner .main_menu .item .item_contents .contents_menu > ul > li ul li:hover {
    color: #669900;
}

#head_layout .inner .main_menu .item .item_contents .contents_text { 
    background-image: url(../images/main_menu_pattern.jpg);
    background-repeat: repeat;
    height: auto; 
    /* 근데 안쓰면 알아서 auto로 적용된대. */
    padding: 25px 0;

}

#head_layout .inner .main_menu .item .item_contents .contents_text .text_tit {
    color: #999;
    font-size: 12px;
    font-weight: 600;

}

#head_layout .inner .main_menu .item .item_contents .contents_text .text_content {
    color: #888;
    font-size: 11px;
    margin: 4px 0 14px;
    
}

#head_layout .inner .badges {
    position: fixed;
    top: 132px;
    right: 12px;
}

#head_layout .inner .badges .badge {
    border-radius: 10px;
    /* 자식이 넘치는 거(?)를 감춰보자...! ==> overflow */
    overflow: hidden; 
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* BODY */
/* SECTION1 */
#body_layout .section1 {
    background-image: url('../images/visual_bg2.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    /* 
        background-size: 100%  로도 쓸수도 있음. 
        cover 는 height 값을 고정으로 줘야한다. (??)
    */
    margin-top: 120px; 
    /* top: 120px;
     position: relative; */
}

#body_layout .section1 .inner {
    height: 445px;
    /* background-color: tomato; */
}

#body_layout .section1 .inner .title {
    position: absolute;
    /* 세로의 가운데로 정렬해보자. */
    transform: translateY(-50%);
    top: 50%;
    /* background-color: yellow; */
    margin-left: 60px;
}

#body_layout .section1 .inner .title .btn {
    /* 왜냐하면, 위쪽의 btn 선택자 에다가 block 요소 줬기 때문에, block 요소를 가운데 정렬 하기 위해, margin: 0 atuo; 를 사용해준다. */
    margin: 0 auto; 
}

#body_layout .section1 .inner .title .btn:hover {
    color: #007042;
}

#body_layout .section1 .inner .title img {
    width: 300px;
    margin-bottom: 30px;

}

#body_layout .section1 .inner > img {
    position: absolute;
    width: 13%;
}

#body_layout .section1 .inner .drink1 {
    top: 14%;
    left: 37.5%;
}

#body_layout .section1 .inner .drink2 {
    top: 14%;
    left: 48.5%;
}
#body_layout .section1 .inner .drink3 {
    top: 14%;
    right: 29%;
}
#body_layout .section1 .inner .drink4 {
    top: 20%;
    right: 19.5%;
}

/* fade in */
#body_layout .section1 .fade-in {
    opacity: 0;
}


#body_layout .section2 {

}

#body_layout .section2 .notice {
    position: relative;
    /* background-color: aqua; */
}

#body_layout .section2 .notice .bg_left {
    width: 50%;
    height:100%;
    background-color: #f6f5f0;
    position: absolute;
    right: 0;
    z-index: 0;
}

#body_layout .section2 .notice .bg_right {
    width: 50%;
    height:100%;
    background-color: #333;
    position: absolute;
    left: 0;
    z-index: 0;
}

#body_layout .section2 .notice .inner {
    height: 62px;
    display: flex;
}

#body_layout .section2 .notice .inner .inner_left { 
    background-color: #333;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

#body_layout .section2 .notice .inner .inner_right {
    background-color: #f6f5f0;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}


#body_layout .section2 .notice .inner .inner_left span.inner_tit {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
    display: flex;
    
}

#body_layout .section2 .notice .inner .inner_left .swiper {
    /* background-color: cornflowerblue; */
    /* 
        flex-grow 
            width 값을 정해주지 않으면, 알아서 꽉 채워준다. 
            이미 영역을 채우고 있는 요소들을 제외한 나머지 영역을 다 채운다. 
            flex-grow: 1;
    */
    flex-grow: 1; 
    height: 62px;

}

#body_layout .section2 .notice .inner .inner_left .swiper .swiper-wrapper {
    width: 510px;
}

#body_layout .section2 .notice .inner .inner_left .swiper .swiper-wrapper .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
    
}


#body_layout .section2 .notice .inner .inner_left .swiper .swiper-wrapper .swiper-slide a {
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#body_layout .section2 .notice .inner .inner_left > a {
    width: 62px;
    height: 62px;
    /* flex로 주면, inline 요소일지라도 영역을 잡을 수 있다구! */
    display: flex;
    
    /* 수평 정렬 */
    justify-content: center;
    
    /* 수직 정렬 */
    align-items: center;
    color: #fff;
    font-size: 30px;
}

#body_layout .section2 .notice .inner .inner_right span.inner_tit {
    color: #333;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    
}

/* 스타벅스 프로모션 토글 버튼 */
#body_layout .section2 .notice .inner .inner_right .toggle-promotion {
    cursor: pointer;
    transition: transform 0.1s;
    transform: rotate(0);
}

#body_layout .section2 .notice .inner .inner_right .toggle-promotion.open {
    transform: rotate(-180deg);
}



#body_layout .section2 .notice .inner .inner_right span.material-symbols-outlined {
    width: 62px;
    height: 62px;
    /* flex로 주면, inline 요소일지라도 영역을 잡을 수 있다구! */
    display: flex;
    
    /* 수평 정렬 */
    justify-content: center;
    

    /* 수직 정렬 */
    align-items: center;
    color: #333;
    font-size: 30px;      
}

#body_layout .section2 .promotion {
    height: 0;
    /* height: 693px; */
    background: #f6f5f0;
    position: relative;
    overflow: hidden;
    transition: height .8s;
}

#body_layout .section2 .promotion.open {
    height: 693px;
}



#body_layout .section2 .promotion .swiper {
    width: calc(819px * 3 + 10px * 2);
    height: 553px;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    
    
}

#body_layout .section2 .promotion .swiper .swiper-slide {
    opacity: 0.2;
}

#body_layout .section2 .promotion .swiper .swiper-slide.swiper-slide-active {
    opacity: 1;
}    

#body_layout .section2 .promotion .swiper .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#body_layout .section2 .promotion .swiper-pagination{
    position: absolute;
    bottom: 40px;
    left:0;
    right: 0;
}


#body_layout .section2 .promotion .swiper-pagination .swiper-pagination-bullet{
    background-image: url(../images/promotion_slide_pager.png);
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}

#body_layout .section2 .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

#body_layout .section2 .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background: transparent;
    background-image: url(../images/promotion_slide_pager_on.png);
}

#body_layout .section2 .promotion .swiper-button-prev, 
#body_layout .section2 .promotion .swiper-button-next {
    width: 42px;
    height: 42px;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    /*  클릭을 하다보면 input 박스 포커싱 된 것 처럼 진해지는 경우가 있다.
        방지하기 위해 outline: none 사용 */
    outline: none; 
    color: #333;
    transition: background .5s;
    
    

}

#body_layout .section2 .promotion .swiper-button-prev::after, 
#body_layout .section2 .promotion .swiper-button-next::after {
    /* content: ''; */
    content: none;
}

#body_layout .section2 .promotion .swiper-button-prev:hover, 
#body_layout .section2 .promotion .swiper-button-next:hover {
    background-color: #333;
    color: #fff;
}

#body_layout .section2 .promotion .material-symbols-outlined {
    font-size: 38px;
    /* 가운데 정렬 하고 싶음! */
    /* text-align: center;  =====> 안됨 */

    
}

#body_layout .section2 .promotion .swiper-button-prev {
    left: 50%;
    margin-left: -480px;
}

#body_layout .section2 .promotion .swiper-button-next {
    right: 50%;
    margin-right: -480px;
}

#body_layout .section3 {
    background-color: #1e3932;
    
}

#body_layout .section3 .inner {
    padding: 50px 0;
    display: flex;
    color: #fff;
}

#body_layout .section3 .inner .text_content > span {
    display: block;
}








